*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
.first, .second{    
    width: 50%;
    background-color:orangered;   
    height: 50%;    
    display: inline-grid;
    margin: 10px;
    
}
.second{
    background-color: orange;
    width: 30%;
    
}
.third, .special{
    float: left;
    height: 50%;  
    flex-direction: row; 
}
.third{
    background-color: green;
    width: 35%;
    margin: 10px;
    height: 47%;
}
.special{
    width: 50%;
    display: flex;
    flex-direction: column;
        
}

.fifth, .fourth{
    background-color: rgb(6, 171, 237);
    height: 50%;      
    width: 91%;
    display: block;
    margin: 10px;    
}

@media(max-width:768px){
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .first, .second{    
        width: 60%;        
        height: 20%;    
        margin: 5px;
        margin-top: 40px;
        
    }
    .first{
        margin-left: 10px;
    }
    .second{        
        width: 30%;        
    }
    .third, .special{       
        height: 20%;        
    }
    .third{
        width: 45%;
        margin: 5px; 
        margin-left: 10px;
    }
    .special{
        width: 46%;
        height: 21.5%;            
    }
    
    .fifth, .fourth{                
        width: 100%;
        display: block;
        margin: 5px;    
    }
}